.location-list {
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: center;
  justify-content: center;
  padding-left: 0;
}
.location-card {
  display: flex;
  justify-content: space-between;
  align-items: center;
  box-shadow: 0 0 30px 5px rgba(82, 79, 79, 0.647);
  background-color: rgba(0, 0, 0, 0.479);
  width: 80%;
  padding: 12px 12px;
  font-size: 12px;
  border-radius: 11px;
}
.location-info {
  color: #fff;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
ul {
  list-style: none;
}
li {
  color: #fff;
}
.location-name {
  font-size: 16px;
  font-weight: 700;
}
.location-time {
  text-transform: capitalize;
  font-size: 12px;
}
.location-weather {
  text-transform: capitalize;
}
.location-temp-block {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 10px;
}
.location-temp {
  font-size: 30px;
}
.high-and-low {
  display: flex;
  gap: 8px;
  font-size: 12px;
}

/* <ul className="location-list">
      {locations.map((item) => (
        <li className="location-card">
          <div className="location-info">
            <p className="location-name">{item.location}Lubbock</p>
            <p className="location-time">{item.time}last seen: 12AM</p>
            <p className="location-weather">{item.weather}Cloudy</p>
          </div>
          <div className="location-weather">
            <p className="location-temp">{item.temp}50 &deg;</p>
            <div className="high-and-low">
              <p className="high">{item.high}</p>
              <p className="low">{item.low}</p>
            </div>
          </div>
        </li>
      ))}
    </ul> */
