.widget-container {
  display: flex;
  flex-direction: column;
  gap: 20px;
  color: #fff;
  justify-content: center;
  align-items: center;
  margin-top: 40px;
}
.location {
  font-size: 30px;
  font-weight: 600;
}
.widgets-block {
  display: flex;
  gap: 40px;
  justify-content: space-between;
  align-items: center;
}
.widget {
  width: 160px;
  height: 70px;
  background-color: rgba(0, 0, 0, 0.526);
  border-radius: 13px;
  display: flex;
  flex-direction: column;
  gap: 0;
  align-items: center;
  justify-content: space-between;
  padding: 12px 18px;
}
.widget-label {
  font-size: 20px;
}
.widget-value {
  font-size: 30px;
}
